<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{ trans('anomaly.module.translator::message.translations') }}</h4>
</div>

<div class="modal-body">
    {% if missing %}
        <ul class="nav nav-pills nav-stacked">
            {% for locale, differences in missing %}
                <li class="nav-item">
                    <a href="/admin/translator/differences/{{ addon.namespace }}/{{ locale }}" class="ajax nav-link">
                        <strong>{{ locale }}</strong>
                        <br>
                        <small>{{ count(array_dot(differences)) }} differences in {{ count(differences) }} files</small>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ trans('streams::message.no_results') }}
    {% endif %}
</div>
